<div class="container" style="padding-top: 20px;">
    <div class="animate-repeat alert col-xs-6 col-md-3" ng-repeat="food in data" style="margin-right: 5px; background-color: #dbf1ff">
        <h5>{{food.name}}</h5>
        <div>Measure: {{food.measure}}</div>
        <div>Weight: {{food.weight}} g</div>
        <div>kCalories: {{food.kCal}}</div>
        <div>Fat: {{food.fat}}</div>
        <div>Carbohydrates: {{food.carbo}}</div>
        <div>Proteins: {{food.protein}}</div>
    </div>
</div>
