<div class="container">
    <label for="social-media">Social Media</label>
    <div id="social-media" style="margin-left: 5px">
        <ul class="list-inline">
            <li class="brand"><a href="https://twitter.com/roxanabajan"><i class="fa fa-twitter"></i></a></li>
            <li class="brand"><a href="https://www.facebook.com/roxana.bajan"><i class="fa fa-facebook"></i></a></li>
            <li class="brand"><a href="https://plus.google.com/113333974159586031875"><i class="fa fa-google-plus"></i></a></li>
            <li class="brand"><a href="http://www.youtube.com/user/broxmik"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
    </div>

    <label for="e-mail">E-mail</label>
    <div id="e-mail">
        <a href="mailto:roxanabajan@gmail.com"><i class="fa fa-envelope"></i> roxanabajan@gmail.com</a>
    </div>
</div>
