<div class="carousel-container visible-lg visible-md visible-sm">
    <div class="container">
        <div id="show-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#show-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#show-carousel" data-slide-to="1" class=""></li>
                <li data-target="#show-carousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <a href="https://angularjs.org"><img class="center-block" src="images/angular.png"  alt="AngularJS"></a>
                </div>
                <div class="item">
                    <a href="https://www.playframework.com"><img class="center-block" src="images/play.png" alt="Play2"></a>
                </div>
                <div class="item">
                    <a href="https://www.heroku.com"><img class="center-block" src="images/heroku.png" alt="Heroku"></a>
                </div>
            </div>
            <a class="left carousel-control" ng-click="prev()" role="button" data-slide="prev">
                <span class="fa fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" ng-click="next()" role="button" data-slide="next">
                <span class="fa fa-chevron-right"></span>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-justify">
            <h2><i class="fa fa-bullseye"></i> Scope</h2>
            <p>This website has as purpose to prove and challenge my capacities to learn and create.<br>Also it's a fun way of testing my curiosity and my skills in web development and at the same time sharing the acquired knowledge.</p>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-justify">
            <h2><i class="fa fa-rocket"></i> Career</h2>
            <p>My objective, as a developer, is to demonstrate my abilities and passion for programming and work in an environment in which I can optimize my skills and persevere in accumulating knowledge and bettering my practice.</p>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-justify">
            <h2><i class="fa fa-cogs"></i> Tech Content</h2>
            <p>This application is deployed in Heroku as a Play Framework 2 App but with the twist of using Google's AngularJS as front end framework. In the Portfolio section you will also see examples of widgets, programing concepts and hopefully lots of cool stuff.</p>
        </div>
    </div>
</div>
