<div class="inner-view container text-center">
    <div class="animate-repeat edged-case col-sm-6 col-md-4 col-lg-3" ng-repeat="case in cases">
        <img class="case-image" ng-src={{case.image}}" alt="" onError="this.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='">
        <h2>{{case.title}}</h2>
        <div class="case-paragraph" ng-bind-html="case.text"></div>
        <div class="case-action"><a class="btn btn-success" href="{{case.path}}" role="button">View details &nbsp;<i class="fa fa-chevron-right"></i></a></div>
    </div>
</div>
